.addFlyForm {
    background-color: rgb(0 0 0 / 69%);
    width: 307px;
    margin: auto;
    color: white;
    border-radius: 0px 0px 15px 15px;
    height: 500px;
    padding: 74px;
    padding-top: 71px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 45px;
    box-shadow: inset 0px 1px 9px 1px #dbd8d86b;
    margin-top: 122px;
    border-radius: 30px;
    margin-left: 127px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}


.input{
    border-radius:10px;
}

.icons {
    margin-left: -35px;
    margin-top: -476px;
}

#q1 {
    margin-top: 18px;
}
#q2{
    margin-top:-30px;
}

#q3 {
    margin-top: -15px;
}

#q4 {
    margin-top: 10px;
}

#q5 {
    margin-top:13px;
}

#q6 {
    margin-top: 9px;
    margin-left: 2px;
}

#q7 {
    margin-top: 6px;
    margin-left: 3px;
}

dates{


    padding-left:50px;
}

appt{



}
#q8 {
    position: absolute;
    left: 342px;
    top: 419px;
}
#q9 {
    position: absolute;
    left: 342px;
    top: 484px;
}
#sub_botton {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 95px;
}




    #sub_botton:hover {
        box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
        transform: scale(1.05) rotate(-1deg);
    }



