

body {
    background-image: url('/Photos/11.jpg');
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    Z-index: 99;
}
.titleFly {
    width: 700px;
    font-family: "Open Sans", sans-serif;
    background-color: rgb(6 6 6 / 94%);
    padding: 1px 0px 1px 5px;
    text-align: left;
    border-radius: 15px 15px 0px 0px;

  
}


#enterFly {
    margin: 0px 100px 300px 50px;
    margin-top: 100px;
}


#enterFlyForm {
    font-size: 30px;
    background-color: rgb(0,0,0,0.5);
    width: 705px;
    color: white;
    border-radius: 0px 0px 15px 15px;
    height: 320PX;
    padding: 20px 0 0 0;
}

.dateLabel {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    position: relative;
    left: 8px;
    top: 2px;
}


input[type="date"] {
    background-color: rgb(0,0,0,0.3);
    margin: 10px;
    color: white;
    padding: 3px;
    border: none;
    border-radius: 5px;
}

::-webkit-calendar-picker-indicator {
    background-color: white;
    border-radius: 3px;
}


.select-selected {
    background-color: DodgerBlue;
}

    .select-selected:after {
        position: absolute;
        content: "";
        top: 14px;
        right: 10px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-color: #fff transparent transparent transparent;
    }

select {
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
    background-color: rgb(0,0,0,0.3);
    color: white;
}

#findFly {
    position: relative;
    font-size: 50px;
    left: 280px;
    top: 10px;
    --b: 3px;
    --s: .45em;
    --color: #ffffff;
    padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background: conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: 0.6em;
    font-size: 15px;
    border: 0;
    font-weight: 900;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}


    #findFly:hover, #findFly:focus-visible {
        --_p: 0px;
        outline-color: var(--color);
        outline-offset: .05em;
    }


    #findFly:active {
        background: var(--color);
        color: #fff;
    }




#enterFly2{
    display:none;

}
#oneWay {
    display: none;
    position: absolute;
    left: 620px;
    top: 201px;
    --b: 3px;
    --s: .45em;
    --color: #ffffff;
    padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background: conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: 0.6em;
    font-size: 15px;
    border: 0;
    font-weight: 900;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

    #oneWay:hover, #oneWay:focus-visible {
        --_p: 0px;
        outline-color: var(--color);
        outline-offset: .05em;
    }


    #oneWay:active {
        background: var(--color);
        color: #fff;
    }

    #RoundtripForm {
        margin: 0px 100px 300px 50px;
        margin-top: 100px;
    }

#Roundtrip {
    position: absolute;
    left: 620px;
    top: 201px;
    --b: 3px;
    --s: .45em;
    --color: #ffffff;
    padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background: conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: 0.6em;
    font-size: 15px;
    border: 0;
    font-weight: 900;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#test12 {
    background-image: radial-gradient(100% 100% at 100% 0, #0095ff 0, #ffffffd6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#Roundtrip:hover, #Roundtrip:focus-visible {
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
}
#Roundtrip:active {
    background: var(--color);
    color: #fff;
}


#travel {
    position: absolute;
    font-size: 40px;
    font-weight: 900;
    font-family: Impact, fantasy;
    left: 1265px;
    top: 175px;
    color: #0000009e;
}




