
.login {
    font-size: 18px;
    background-color: rgb(0 0 0 / 36%);
    width: 380px;
    margin: auto;
    color: white;
    border-radius: 15px 15px 15px 15px;
    height: 335px;
    padding: 10px;
    padding-top: 25px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 50px;
    box-shadow: inset 0px 1px 9px 1px #dbd8d86b;
    margin-top: 250px;
    margin-left : 250px;
    font-size:40px;
}

body {
    background-image: url('/Photos/10.png');
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.lable1{
    font-size:20px;

}
form{


}