body {
    background-image: url('/Photos/12.jpg');
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    Z-index: 99;
}

#payForm {
    font-size: 30px;
    background-color: rgb(0,0,0,0.5);
    width: 705px;
    color: white;
    border-radius: 0px 0px 15px 15px;
    height: 465px;
    padding: 20px 0 0 0;
    position: absolute;
    top: 180px;
}

.labels {
    color: white;
    padding-left: 20px;
    padding-left: 35px;
    font-family: "Open Sans", sans-serif;
}

.inputs{

    border-radius:10px

}

#p1 {
    font-size: 25px;
    padding-left: 35px;
    margin-top: -1px;
    font-family: "Open Sans", sans-serif;
}




.titleFly {
    width: 700px;
    font-family: "Open Sans", sans-serif;
    background-color: rgb(6 6 6 / 94%);
    padding: 1px 0px 1px 5px;
    text-align: left;
    border-radius: 15px 15px 0px 0px;
    position:absolute;
    top:100px
}


#payTitle {
    background-image: linear-gradient(90deg, rgba(123,186,240,1) 0%, rgba(143,166,255,1) 23%, rgba(0,129,255,1) 30%, rgba(0,198,255,1) 36%, rgba(21,106,188,1) 45%, rgba(18,124,199,1) 55%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left:15px;
}


#pay {
    position: absolute;
    top: 396px;
    left: 300px;
    --b: 3px;
    --s: .45em;
    --color: #ffffff;
    padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background: conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: 0.6em;
    font-size: 24px;
    border: 0;
    font-weight: 900;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}


    #pay:hover, #pay:focus-visible {
        --_p: 0px;
        outline-color: var(--color);
        outline-offset: .05em;
    }


    #pay:active {
        background: var(--color);
        color: #fff;
    }



#firstFlight {
    padding-right: 30px;
    padding-top: 50px;
    font-size: 15px;
    background-color: rgb(0 0 0 / 68%);
    width: 839px;
    color: white;
    position: absolute;
    top: 180px;
    display: flex;
    left: 980px;
    height: 100px;
    border-radius: 0 0 15px 15px;
}



.titleOrderDetils {
    width: 844px;
    font-family: "Open Sans", sans-serif;
    background-color: rgb(0 0 0 / 94%);
    padding: 1px 0px 1px 25px;
    text-align: left;
    border-radius: 15px 15px 0px 0px;
    position: absolute;
    top: 100px;
    left: 980px;
}

#titleOrderDetils1 {
    background-image: linear-gradient(90deg, rgba(123,186,240,1) 0%, rgba(143,166,255,1) 23%, rgba(0,129,255,1) 30%, rgba(0,198,255,1) 36%, rgba(21,106,188,1) 45%, rgba(18,124,199,1) 55%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}




#creditCrad {
    font-size: 20px;
}


.c1 {
    font-size: 40px;
    padding-left: 35px;
    font-weight: bolder;
}



#check {
    position: absolute;
    left: 534px;
    top: 242px;
    appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 12px;
    font-weight: 800;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 15px 15px 15px 15px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

#check:disabled {
    pointer-events: none;
}

#check:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

#check:active {
    box-shadow: none;
    transform: translateY(0);
}

#returnFlight {
    position: absolute;
    top: 300px;
    border-radius: 0px 0px 15px 15px;
}

#icons {
    display: flex;
    margin: 0;
    position: absolute;
    left: 1100px;
    top: 190px;
    height:30px;
}

    #icons img {
        margin: -1px 38px;
    }


#q4 {
    right: -110px;
    position: absolute;
}

#q6 {
    position: absolute;
    right: -205px;
}
#q3{



}

#icons2 {
    position: absolute;
    display: flex;
}

    #icons2 img {
        margin: -1px 40px;
    }