body {
}


#payForm {
    font-size: 30px;
    background-color: rgb(0,0,0,0.5);
    width: 705px;
    color: white;
    border-radius: 0px 0px 15px 15px;
    height: 320PX;
    padding: 20px 0 0 0;
    position:absolute;
    top:180px;
}

.labels {
    color: white;
    padding-left: 20px;
    padding-left: 35px;
    font-family: "Open Sans", sans-serif;
}

.inputs{

    border-radius:10px

}

#p1 {
    font-size: 25px;
    padding-left: 35px;
    margin-top: -1px;
    font-family: "Open Sans", sans-serif;
}




.titleFly {
    width: 700px;
    font-family: "Open Sans", sans-serif;
    background-color: rgb(6 6 6 / 94%);
    padding: 1px 0px 1px 5px;
    text-align: left;
    border-radius: 15px 15px 0px 0px;
    position:absolute;
    top:100px
}


#payTitle {
    background-image: linear-gradient(90deg, rgba(123,186,240,1) 0%, rgba(143,166,255,1) 23%, rgba(0,129,255,1) 30%, rgba(0,198,255,1) 36%, rgba(21,106,188,1) 45%, rgba(18,124,199,1) 55%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left:15px;
}


#pay {
    position: absolute;
    top: 280px;
    left: 300px;
    --b: 3px;
    --s: .45em;
    --color: #ffffff;
    padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background: conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: 0.6em;
    font-size: 15px;
    border: 0;
    font-weight: 900;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}


    #pay:hover, #pay:focus-visible {
        --_p: 0px;
        outline-color: var(--color);
        outline-offset: .05em;
    }


    #pay:active {
        background: var(--color);
        color: #fff;
    }

#showFirstTime {
    --b: 3px;
    --s: .45em;
    --color: #ffffff;
    padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background: conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: 0.6em;
    font-size: 15px;
    border: 0;
    font-weight: 900;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    position: absolute;
    left: 450px;
    top: 118px;
}

    #showFirstTime:hover,
    #showFirstTime:focus-visible {
        --_p: 0px;
        outline-color: var(--color);
        outline-offset: .05em;
    }



#showFirstTime:active {
    background: var(--color);
    color: #fff;
}




#showNoFirstTime {
    --b: 3px;
    --s: .45em;
    --color: #ffffff;
    padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background: conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: 0.6em;
    font-size: 15px;
    border: 0;
    font-weight: 900;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    position: absolute;
    left: 450px;
    top: 118px;
}

#showNoFirstTime:hover,
#showNoFirstTime:focus-visible {
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
}

#showNoFirstTime:active {
    background: var(--color);
    color: #fff;
}