body {
    background-image: url('/Photos/2.jpg');
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    Z-index: 99;
}


#tbl1 {
    position: absolute;
    left: 327px;
    top: 151px;
    background-color: #000000b3;
    border-radius: 0px 0px 15px 15px;
    color: white;
    padding: 20px;
    width: 1163px;
    font-family: "JetBrains Mono",monospace;
}

#orderForm {
    position: absolute;
    left: 327px;
    top: 110px;
    background-color: black;
    border-radius: 15px 15px 0 0;
    color: white;
    padding-left: 15px;
    width: 1333px;
}

#tbl_two{
    display:none;
}

#tbl_three {
    display: none;
}
#tbl_four{
    display:none;
}

#sub {
    position: absolute;
    color: white;
    background-color: black;
    border-radius: 10px;
    border-color: white;
    border-width: 2px;
    font-size: 25px;
    left: 1521px;
    top: 117px;
    padding: 5px 15px 5px 15px;
}

    #sub:hover {
        box-shadow: 0 0 20px white;
        -webkit-transform: scale(1.1);
        transform: translateY(2px);
    }

#orderBy:hover {
    box-shadow: 0 0 20px white;
    -webkit-transform: scale(1.1);
    transform: translateY(2px);
}

.chooseSeat {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 40px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
}
    .chooseSeat:hover {
        filter: brightness(1.1);
        -webkit-filter: brightness(1.1);
    }



    .chooseSeat:focus {
        box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    }

    .chooseSeat:hover {
        box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
        transform: translateY(-2px);
    }

    .chooseSeat:active {
        box-shadow: #3c4fe0 0 3px 7px inset;
        transform: translateY(2px);
    }



#tbl1 tr:first-child {
    color: cornsilk;
    font-size: 25px;
}




