body {
    background-image: url('/Photos/3.jpg');
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    Z-index: 99;
}
.avaibleSeats  {
    color:seagreen;
    
}
    .avaibleSeats:hover {
        box-shadow: 0 0 20px white;
        -webkit-transform: scale(1.1);
        transform: scale(1,1);
    }

    .avaibleSeats a {
        width: 35px;
    }
#noAvaible{
    color:red;
}
#saveSeat{
    color:darkblue;
}
.tbl1 {
    padding: 20px;
    background: #000000b0;
    border-radius: 329px 329px 100px 100px;
    color: white;
    font-size: 30px;
    PADDING-TOP: 250;
    margin-top: 50px;
    padding-left: 60px;
}
#up {
    position: absolute;
    left: 643px;
    TOP: 332px;
    FONT-SIZE: 50PX;
    COLOR: WHITE;
    font-family: fantasy;
}

#up2 {
    position: absolute;
    left: 750px;
    TOP: 332px;
    FONT-SIZE: 50PX;
    COLOR: WHITE;
    font-family: fantasy;
}
#up3 {
    position: absolute;
    left: 857px;
    TOP: 332px;
    FONT-SIZE: 50PX;
    COLOR: WHITE;
    font-family: fantasy;
}
#up4 {
    position: absolute;
    left: 967px;
    TOP: 332px;
    FONT-SIZE: 50PX;
    COLOR: WHITE;
    font-family: fantasy;
}
#up5 {
    position: absolute;
    left: 1081px;
    TOP: 332px;
    FONT-SIZE: 50PX;
    COLOR: WHITE;
    font-family: fantasy;
}
#up6 {
    position: absolute;
    left: 1188px;
    TOP: 332px;
    FONT-SIZE: 50PX;
    COLOR: WHITE;
    font-family: fantasy;
}


#seatNum {
    position: absolute;
    font-size: 40px;
    COLOR: WHITE;
    font-family: fantasy;
    left: 733px;
    top: 273px;
}


#numberSeats {
    color: white;
    font-family: fantasy;
    font-size: 30px;
    position: absolute;
    left: 606px;
    top: 433px;
    line-height: 2.228;
}

#tbl1 tr:first-child {
    color: cornsilk;
    font-size: 25px;
}