
@{
    ViewBag.Title = "home";
}

@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>

    <link href="@Url.Content("~/CSS/adminHome.css")"
          rel="stylesheet" type="text/css" />


    <meta name="viewport" content="width=device-width" />

    <style>
        .welcome-text {
            font-size: 25px;
            font-weight: bold;
            text-align: center;
            color: white;
            font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
        }

        #f {
            padding: 10px;
            margin-top: 40px;
            border-radius: 30px;
            background-color: #0054ff8f;
        }
    </style>
</head>

<body>
    <!-- navigation bar-->
    <div class="topnav">

        <a id="logo1" href="~/admin/adminHome">
            <img src="~/Photos/logo.png" alt="Logo" style="width:80px;">
        </a>

        <div id="topnav-left">
            <a href="~/admin/addFly">Add Flight</a>
            <a href="/admin/removeFly">Remove Flight</a>
            <a href="/admin/editFly">Edit Flight</a>
        </div>

        <div id="topnav-right">
            <a href="/Home/home">Home Page</a>
        </div>

    </div>



    <form id="f">
        <div class="welcome-text">
            Welcome to the flight management dashboard! From here, you can add, delete, and edit flights to keep the schedule up to date for your customers.
        </div>

    </form>




</body>


</html>

