@model TravelAgency.Models.passenger1

@{
    Layout = null;
}

<head>

    <title>Login Page</title>
    <link href="@Url.Content("~/CSS/NavBar1.css")" ,
          rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/CSS/login.css")" ,
          rel="stylesheet" type="text/css" />



    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

</head>




<body>

    <!-- Navigtion bar -->
    <div id="nav">
        <div class="topnav">

            <a href="/Home/home">Home</a>
            <a href="/Home/MyFlights">My Flights</a>

            <div class="floatRight">

                <a class="active" href="/Home/login">Log In</a>
                <a  href="/Home/signUp">Sign Up  </a>

            </div>
        </div>
    </div>

    <div class="login">
        @using (Html.BeginForm("enterLogin", "passenger1", FormMethod.Post))
        {
            <label class="label1">User Name</label>

            <input type="text" placeholder="Passport" name="user"><br>

            <label class="label1">password</label>

            <input type="password" placeholder="password" name="password"><br>

            <input type="submit" value="Login">

        }
    </div>

</body>