@model TravelAgency.ViewModel.seatViewModel
@using TravelAgency.Models;

@{
    ViewBag.Title = "showSeats";
}





<html>

<head>
    <link href="@Url.Content("~/CSS/NavBar1.css")"
          rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/CSS/home2.css")"
          rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/CSS/showSeats.css")"
          rel="stylesheet" type="text/css" />


    <title>showFlights</title>


    <script src="https://kit.fontawesome.com/c681bde18b.js" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width" />
</head>

<body>
    <!-- navigation bar-->
    <div class="topnav">

        <a id="logo1" href="">
            <img src="~/Photos/logo.png" alt="Logo" style="width:80px;">
        </a>

        <div id="topnav-left">
            <a href="/Home/home">Home</a>
            <a href="/Home/MyFlights">My Flights</a>
        </div>

        <div class="floatRight">
                <a href="/Home/login">Log In</a>
                <a href="/Home/signUp">Sign Up  </a>
            </div>

        
    </div>


    <label id="seatNum">Choose Your Seat Number @TempData["seatNum"]</label>

    <label id="up"> A </label>
    <label id="up2"> B </label>
    <label id="up3"> C </label>
    <label id="up4"> D </label>
    <label id="up5"> E </label>
    <label id="up6"> F </label>

    <table class="tbl1" align="center" cellpadding="10px" width=40%>


        @for (int i = 1; i <= Model.seatList.Count / 6; i++)
        {
            <tr>
                
                @if (Model.seatList.Where(M => M.rowSeat == i && M.colSeat == "A").FirstOrDefault().available == "yes")
                {

                    <td>
                        <a href="~/Views/Home/personal_details/@Model.seatList[1].flyNumber/@i/A/@TempData["order"]" class="avaibleSeats">
                            <img src="~/Photos/icons/seat1.png" alt="Logo" width=45px;>
                        </a>
                    </td>
                }
                else
                {
                    <td><a href="" id="noAvaible"> </a><img src="~/Photos/icons/seat2.png" alt="Logo" width=45px;> </td>
                }

                @if (Model.seatList.Where(M => M.rowSeat == i && M.colSeat == "B").FirstOrDefault().available == "yes")
                {
                    <td><a href="~/Views/Home/personal_details/@Model.seatList[1].flyNumber/@i/B/@TempData["order"]" class="avaibleSeats"><img src="~/Photos/icons/seat1.png" alt="Logo" width=45px;></a> </td>
                }
                else
                {
                    <td><a href="" id="noAvaible"> </a><img src="~/Photos/icons/seat2.png" alt="Logo" width=45px;> </td>
                }

                @if (Model.seatList.Where(M => M.rowSeat == i && M.colSeat == "C").FirstOrDefault().available == "yes")
                {
                    <td><a href="~/Views/Home/personal_details/@Model.seatList[1].flyNumber/@i/C/@TempData["order"]" class="avaibleSeats"><img src="~/Photos/icons/seat1.png" alt="Logo" width=45px;></a> </td>
                }
                else
                {
                    <td><a href="" id="noAvaible"> </a><img src="~/Photos/icons/seat2.png" alt="Logo" width=45px;> </td>
                }

                @if (Model.seatList.Where(M => M.rowSeat == i && M.colSeat == "D").FirstOrDefault().available == "yes")
                {
                    <td><a href="~/Views/Home/personal_details/@Model.seatList[1].flyNumber/@i/D/@TempData["order"]" class="avaibleSeats"><img src="~/Photos/icons/seat1.png" alt="Logo" width=45px;></a> </td>
                }
                else
                {
                    <td><a href="" id="noAvaible"> </a><img src="~/Photos/icons/seat2.png" alt="Logo" width=45px;> </td>
                }

                @if (Model.seatList.Where(M => M.rowSeat == i && M.colSeat == "E").FirstOrDefault().available == "yes")
                {
                    <td><a href="~/Views/Home/personal_details/@Model.seatList[1].flyNumber/@i/E/@TempData["order"]" class="avaibleSeats"><img src="~/Photos/icons/seat1.png" alt="Logo" width=45px;></a> </td>
                }
                else
                {
                    <td><a href="" id="noAvaible"> </a><img src="~/Photos/icons/seat2.png" alt="Logo" width=45px;> </td>
                }

                @if (Model.seatList.Where(M => M.rowSeat == i && M.colSeat == "F").FirstOrDefault().available == "yes")
                {
                    <td><a href="~/Views/Home/personal_details/@Model.seatList[1].flyNumber/@i/F/@TempData["order"]" class="avaibleSeats"><img src="~/Photos/icons/seat1.png" alt="Logo" width=45px;></a> </td>
                }
                else
                {
                    <td><a href="" id="noAvaible"> </a><img src="~/Photos/icons/seat2.png" alt="Logo" width=45px;> </td>
                }

            </tr>


        }




    </table>



    <div id="numberSeats">
        @for (int i = 1; i <= Model.seatList.Count / 6; i++)
            {
                @i <br /> 
            }
    </div>




    <script>
        document.getElementById("noAvaible").onclick = function () {
            alert("The seat is no avaible")

        }

    </script>
</body>


</html>