@model TravelAgency.Models.passenger1

@{
    ViewBag.Title = "successPage";
}

<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
</head>
<style>
    body {
        text-align: center;
        padding: 40px 0;
        background: #EBF0F5;
    }

    h1 {
        color: #1efc95;
        font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
        font-weight: 900;
        font-size: 40px;
        margin-bottom: 10px;
    }

    p {
        color: white;
        font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
        font-size: 25px;
        margin: 0;
    }

    i {
        color: #1efc95;
        font-size: 100px;
        line-height: 200px;
        margin-left: -15px;
    }

    .card {
        background: #45505c;
        padding: 60px;
        border-radius: 4px;
        box-shadow: 0 2px 3px #C8D0D8;
        display: inline-block;
        margin: 0 auto;
        border-radius :20px;
    }
</style>
<body>
    <div class="card">
        <div style="border-radius: 400px; height: 200px; width: 200px; background: white; margin: 0 auto;">
            <i class="checkmark">✓</i>
        </div>
        <h1>Welcome @Model.firstName @Model.lastName</h1>
        <p>Your sign up is success!<br /> Now you are a part from us , and we will do the best for you</p>
        <a href="~/Home/home">Home </a>

    </div>
</body>
</html>

